.benefits


    &__content


        h1
            font-size: 2.429em
            line-height: 3.786em
            font-weight: light
            color: $blackColor

        span
           // font-size: 3.857em
            line-height: 3.786em
            font-weight: bold
            color: $headerColor


        p
            color: $blackColor

        a
            color: $headerColor